.prisinfo{
    border-left: 1px black solid;
    border-right: 1px black solid;
}

h1{
    text-align: center;
}

.pris{
    margin-left: 342px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 3.8;
}

@media screen and (max-width: 760px) {
    .pris {
        margin-left: 100px;
    }    
}

