/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #22h2;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/



body{
    margin: 0;
    padding: 0;
}

.App {
   /* border: 6px solid green; */
    /*background-color: #BFD3C3;*/
}

.App-logo{
    background: #5C5C5D;
    text-align: center;
    height: 180px;
}

.logo{
    margin-top: 20px;
    height: 90px;
}

.container-fluid{
    display: flex;
    flex-wrap: wrap;  
}

.container-fluid> div{
    /*border: solid 2px black;*/
    width: 960px;
    /*height: 500px;*/
    margin: 0px auto 0px auto;
    
}


h1, h3, p, ul {
   font-family: 'Cutive Mono'; 
}











